{% for article in articles %}
    <div class="panel panel-default blog-article">
        <div class="panel-heading">
            <h1 class="panel-title">
                <a href="{{ path('show_article', {'slug': article.0.slug}) }}">{{ article.0.header }}</a>
            </h1>
            by <a href="{{ path('show_author_articles', {'slug': article.0.author.slug}) }}">{{ article.0.author.name }}</a>
                <span class="glyphicon glyphicon-time" aria-hidden="true"
                      style="margin-left: 0.5ch"></span>
            {{ article.0.createdAt|date("d.m.Y h:i") }}
        </div>
        <div class="panel-body">
            {{ article.0.content }}
        </div>
        <div class="panel-footer">
            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
            {% for tag in article.0.tags %}
                <a href="{{ path('show_tag_articles', {'slug': tag.slug}) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
            <br>
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            {{ article.comments_count }}
            <span class="glyphicon glyphicon-star" aria-hidden="true" style="margin-left: 0.5ch"></span>
            {{ article.comments_rating|round(2) }}
        </div>
    </div>
{% endfor %}
{% if nextPageUrl %}
    <div class="pagination" style="display: none">
        <span class="next-page">
            <a href="{{ nextPageUrl }}">&gt;</a>
        </span>
    </div>
{% endif %}