{% extends 'AppBundle:Blog:baseBlog.html.twig' %}

{% block content %}
    <h1>{{ article.0.header }}</h1>
    by <a href="{{ path('show_author_articles', {'slug': article.0.author.slug}) }}">{{ article.0.author.name }}</a>
    <span class="glyphicon glyphicon-time" aria-hidden="true" style="margin-left: 0.5ch"></span>
    {{ article.0.createdAt|date("d.m.Y h:i") }}
    <span class="glyphicon glyphicon-star" aria-hidden="true" style="margin-left: 0.5ch"></span>
    {{ article.comments_rating|round(2) }}
    <hr>
    {{ article.0.content }}
    <hr>
    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
    {% for tag in article.0.tags %}
        <a href="{{ path('show_tag_articles', {'slug': tag.slug}) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
    <hr>
    <h1>Comments:</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ form(form) }}
        </div>
    </div>
    {% for comment in article.0.comments %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{{ comment.name }}</h1>
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                {{ comment.createdAt|date("d.m.Y h:i") }}
                <span class="glyphicon glyphicon-star" aria-hidden="true" style="margin-left: 0.5ch"></span>
                {{ comment.rating }}
            </div>
            <div class="panel-body">
                {{ comment.messageText }}
            </div>
        </div>

    {% endfor %}
{% endblock %}