{% extends 'base.html.twig' %}

{% block navbar %}
    {% if is_granted('ROLE_MODERATOR') or is_granted('ROLE_ADMIN') %}
    <ul class="nav navbar-nav">
    {% endif %}
    {% if is_granted('ROLE_MODERATOR') %}
        <li>
            <a href="{{ path('new_article') }}" class="navbar-link">{{ 'Create a new article' | trans }}</a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('show_all_users') }}" class="navbar-link">{{ 'Administration' | trans }}</a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_MODERATOR') or is_granted('ROLE_ADMIN') %}
    </ul>
    {% endif %}

    <form class="navbar-form navbar-right" action="{{ path('search_articles') }}" role="search">
        <div class="form-group">
            <input type="text" class="form-control" name="q" placeholder="{{ 'Search' | trans }}">
        </div>
        <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </form>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8 blog-body">
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ 'Tag cloud' | trans }}</h1>
                </div>
                <div class="panel-body">
                    {% for tag in tagsCloud() %}
                        <a href="{{ path('show_tag_articles', {'slug': tag.0.slug}) }}"
                           style="font-size: {{ tag.tag_weight }}%">{{ tag.0.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ 'Most popular articles' | trans }}</h1>
                </div>
                <ul class="list-group">
                    {% for most_popular_article in mostPopularArticles() %}
                        <li class="list-group-item">
                            <a href="{{ path('show_article', {'slug': most_popular_article.slug}) }}">{{ most_popular_article.header }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">{{ 'Latest comments' | trans }}</h1>
                </div>
                <ul class="list-group">
                    {% for latest_comment in latestComments() %}
                        <li class="list-group-item">
                            <a href="{{ path('show_article', {'slug': latest_comment.article.slug}) }}">{{ latest_comment.messageText|raw }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}