{% extends 'AppBundle::baseBlog.html.twig' %}

{% block content %}
    <h1>{{ article.header }}</h1>
    by <a href="{{ path('show_author_articles', {'slug': article.author.slug}) }}">{{ article.author.name }}</a>
    <span class="glyphicon glyphicon-time" aria-hidden="true" style="margin-left: 0.5ch"></span>
    {{ article.createdAt|date("d.m.Y h:i") }}
    <hr>
    {{ article.content }}
    <hr>
    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
    {% for tag in article.tags %}
        <a href="{{ path('show_tag_articles', {'slug': tag.slug}) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
    <hr>
    {% for comment in article.comments %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{{ comment.name }}</h1>
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                {{ comment.createdAt|date("d.m.Y h:i") }}
                <span class="glyphicon glyphicon-star" aria-hidden="true" style="margin-left: 0.5ch"></span>
                {{ comment.rating }}
            </div>
            <div class="panel-body">
                {{ comment.messageText }}
            </div>
        </div>

    {% endfor %}
{% endblock %}